
/arena/__pycache__
/__pycache__
*/__pycache__
/trash
test.py
arena/utils/find_path_bfs.cpython-312.pyc
arena/utils/random_utils.cpython-312.pyc

deck/card.cpython-312.pyc
deck/deck.cpython-312.pyc
deck/stats.cpython-312.pyc
player.cpython-312.pyc
troops/generic_troop.cpython-312.pyc
troops/troop.cpython-312.pyc

assets/game_assets/
assets/__pycache__/

.vscode/

assets/components/__pycache__/
**/__pycache__
**/.DS_Store

old_stuff_for_comparison/